<h3>Citi Financial Advisor Services</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<div class ="row">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name" placeholder="Enter name" class="form-control">
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="text" formControlName="email" placeholder="Enter email" class="form-control">
    </div>
  <div>
      <label for="help">
        What can we help you with?
      </label>
      <input id="help" type="text" formControlName="help" placeholder="Enter your help query" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Submit</button>
  </form>
</div>